<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>{{message}}</p>
        <p v-if="yes">YES!</p>
        <p v-if="no">no!</p>
        <p v-if="age>=20">{{age}}</p>
        <p v-else>TTTT</p>
        <input type="text" v-model="message">
    </div>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript">
    var eData = {
        message: "sssssss",
        yes:true,
        no:false,
        age:20,
        name:'name'
    }
    var vm = new Vue({
        el: '#app',
        data: eData
    })
    </script>
</body>

</html>
